@page
@model RegisterModel
@using Touring.Utility


<div class="container row">
    <div class="col-12 row">
        <div class="col-8">
    @if (User.IsInRole(SD.RoleManager))
    {
        <div class="col-12"><h3 class="text-primary">Add New User</h3></div>
    }
    else
    {
        <div class="col-12"><h3 class="text-primary">Create New Account</h3></div>
    }
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.Email"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.FirstName"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.LastName"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>


            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.Phone"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.Password"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 row py-1">
                <div class="col-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 row py-1">
                <div class="col-9 offset-3">
                    <input type="radio" name="rbRole" value="@SD.RoleManager" /> @SD.RoleManager &nbsp;&nbsp;
                    <input type="radio" name="rbRole" value="@SD.RoleTourManager" /> @SD.RoleTourManager &nbsp;&nbsp;
                    <input type="radio" name="rbRole" value="@SD.RoleAccountant" /> @SD.RoleAccountant &nbsp;&nbsp;
                    <input type="radio" name="rbRole" value="@SD.RoleFrontdesk" /> @SD.RoleFrontdesk &nbsp;&nbsp;
                    <input type="radio" name="rbRole" value="@SD.RoleTourGuide" /> @SD.RoleTourGuide &nbsp;&nbsp;
                    <input type="radio" name="rbRole" value="@SD.RoleUser" /> @SD.RoleUser  &nbsp;&nbsp;
                </div>
            </div>

            <div class="col-12 row py-1">
                <div class="col-9 offset-3">
                    <button type="submit" class="form-control btn btn-primary">Register</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-4">
            @if(!User.IsInRole(SD.RoleManager))
            {

            <div class="col-12"><h3 class="text-primary">Or Rgister With:</h3></div>
            <section>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
