@page
@model Touring.Pages.Admin.Tours.CreateTourDetailsModel


<div class="container row">
    <h1 class="text-center text-white light-ground"> Add Details to the Tour</h1>

    <div class="mx-auto col-12 row light-ground">
        <div class="col-8">
            <div class="card border-secondary mb-2" style="border-radius:5px;">
                <div class="card-header bg-secondary">
                    <label for="itemType" class="form-label">Item Type:</label>
                    <select name="itemType" id="detailType" class="form-control">
                        <option value="checkin">accommodation</option>
                        <option value="trip">Trip</option>
                        <option value="activity">Activity</option>
                    </select>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="createTourObj.TourHeader.Id" />
                        <input type="hidden" asp-for="createTourObj.TourHeader.OriginCity" />
                        <input type="hidden" asp-for="createTourObj.TourHeader.OriginCountry" />
                        <input type="hidden" asp-for="createTourObj.TourHeader.DestinationCities" />
                        <input type="hidden" asp-for="createTourObj.TourHeader.DestinationCountries" />
                        <input type="hidden" asp-for="createTourObj.TourHeader.TourTitle" />

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.Title" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.Title" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.StartDate" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.StartDate" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.StartDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.StartTime" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.StartTime" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.StartTime" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.EndDate" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.EndDate" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.EndDate" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.EndTime" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.EndTime" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.EndTime" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.TourGuideId" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.createTourObj.TourDetail.TourGuideId,
                                                        Model.TourGuids,
                                                        "Select (optional)",
                                                        new {@class="form-control"})
                                <input asp-for="createTourObj.TourDetail.TourGuideId" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.TourGuideId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.ActivityId" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.ActivityId" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.ActivityId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.TripId" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.TripId" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.TripId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.AccommodationId" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.AccommodationId" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.AccommodationId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.Price" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="createTourObj.TourDetail.Price" class="form-control" />
                                <span asp-validation-for="createTourObj.TourDetail.Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-12 py-2">
                            <div class="col-4">
                                <label asp-for="createTourObj.TourDetail.Recommendations" class="form-label"></label>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="createTourObj.TourDetail.Recommendations" class="form-control" ></textarea>
                            </div>
                        </div>



                        <div class="row col-12 py-2">
                            <div class="offset-4 col-8 d-flex justify-content-evenly">
                                <input type="submit" asp-page-handler="Continue" class="mx-1 btn btn-primary form-control" value="Add Next Event" />
                                <input type="submit" asp-page-handler="Finalize" class="mx-1 btn btn-secondary form-control" value="finalize Tour" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4 row">
            <h3 class="col-12 text-center my-0 py-0">@Model.createTourObj.TourHeader.TourTitle</h3>
            <h3 style="position:relative;border-bottom:1px solid #00ffff;" class="col-12 text-center">Id: @Model.createTourObj.TourHeader.Id</h3>
            <div class="col-12 d-flex justify-content-between">
                <span>Capacity</span>
                <span>@Model.createTourObj.TourHeader.TourCapacity</span>
            </div>
            <div class="col-12 d-flex justify-content-between">
                <span>From:</span>
                <span>@Model.createTourObj.TourHeader.OriginCity, (@Model.createTourObj.TourHeader.OriginCountry) </span>
            </div>
            <div class="col-12 d-flex justify-content-between">
                <span>To:</span>
                <span>@Model.createTourObj.TourHeader.DestinationCities, (@Model.createTourObj.TourHeader.DestinationCountries) </span>
            </div>
            <table class="table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Tour Plan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.createTourObj.TourDetails)
                    {
                        <div class="col-12 d-flex justify-content-between">
                            <span>@item.Title</span>
                            @if (item.TripId != 0)
                            {
                                <span>more of Trip</span>
                            }
                            @if (item.AccommodationId != 0)
                            {
                                <span>more of Accomation</span>
                            }
                            @if (item.ActivityId != 0)
                            {
                                <span>more of activity</span>
                            }
                        </div>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between bg-dark text-light">
                <span>total:</span>
                <span>@Model.createTourObj.TourHeader.CalculatedCosts.ToString("C")</span>
            <div/>
        </div>
    </div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}